/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Domine', serif;
	font-size: 11px;
}

main {
	margin-left: 400px;
	margin-right: 400px;
	width: 1450px;
	height: 1200px;
	box-sizing: border-box;
	border: 1px solid black;
}

.main_section {
	box-sizing: border-box;
	height: 900px;
	width: 1450px;
	border:1px solid black;
}

.nav_bar {
	display: flex;
	width: 900px;
	height: 35px;
	border: 1px solid blue;
	margin-top: 100px;
	margin-left: 275px;
}

.nav_bar_section {
	display: flex;
	width: 105px;
	background-color: rgb(84, 84, 84);
	border-right: 1px solid black;
}

.nav_bar_item {
	justify-content: center;
	width: 100%;
	display: flex;
}

#apple_icon_pic {
	height: 35px;
	display: flex;
	justify-content: center;
}

#nav_search_section {
	width: 160px;
}

.promos {
	border: 1px solid black;
	height: 200px;
}

.promo_pic {
	display: inline-block;
	height: 200px;
	width: 359px;
	background-color: green;
}

.promo_pic_sizing {
	height: 200px;
	width: 359px;
}

footer {
	height: 95px;
	border: 1px solid blue;
}